[submodule "proto-definitions"]
	path = proto-definitions
	url = git@192.95.30.129:backend/proto-definitions.git
[submodule "libs/messenger-client"]
	path = libs/messenger-client
	url = git@192.95.30.129:backend/messenger-client.git
